<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    <h1>Data</h1>
    <% d.forEach((el) => { %>
        <div>
            <img src="<%= el.image %>" alt="image" style="max-width: 200px; height: auto;">
            <h3>Title: <%= el.title %></h3>
            <h3>Director: <%= el.director %></h3>
            <h3>Category: <%= el.category %></h3>
            <a href="/edit/<%= el._id %>">Edit</a>
            <a href="/delete/<%= el._id %>">Delete</a>
        </div>
    <% }) %>
</body>
</html>
