<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>data</h1>
    
    <%data.map((el)=>{  %>
           <h1><%=el.email%></h1>
           <h1><%=el.pass%></h1>
           <img src="./image/<%=el.image%>" alt="">
           <a href="/delete/<%=el.id%>">Delete</a>
           <a href="/edit/<%=el.id%>">Edite</a>

 <%  })   %>

</body>
</html>