<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%=data._id%>" method="POST" enctype="multipart/form-data">
     
            <img src="/image/<%=data.image%>" alt="image" width="200px" height="200px">
            <input type="text" name="email" value="<%=data.email%>" placeholder="enter your emai">
            <input type="text" value="<%=data.pass%>" name="pass" placeholder="enter your password">
            <input type="file" value="./image/<%=data.image%>" name="image">
 
        <button type="submit">Upload</button>
       
    </form>
</body>
</html>