<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-box">
        <h1>Book List</h1>
        <div class="book-list">
            <% data.forEach((el) => { %>
                <div class="book-card">
                    <img src="<%= el.image %>" alt="<%= el.bookname %>" class="book-image">
                    <div class="book-details">
                        <h2><%= el.bookname %></h2>
                        <p><strong>Price:</strong> $<%= el.price %></p>
                        <p><strong>Release Date:</strong> <%= el.date %></p>
                        <p><strong>Author:</strong> <%= el.author %></p>
                        <p class="description"><strong>description :</strong>  <%= el.description %></p>
                        <div class="actions">
                            <a href="/edit/<%= el.id %>" class="btn edit-btn">Edit</a>
                            <a href="/delete/<%= el.id %>" class="btn delete-btn">Delete</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
