<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <div>
        <% data.forEach((el) => { %>
            <div>
                <h2><%= el.bookname %></h2>
                <img src="<%= el.image %>" alt="<%= el.bookname %>" style="width:100px;">
                <p>Price: $<%= el.price %></p>
                <p>Release Date: <%= el.date %></p>
                <p>Author: <%= el.author %></p>
                <p>Description: <%= el.description %></p>
                <a href="/delete/<%= el.id %>">Delete</a>
                <a href="/edit/<%= el.id %>">Edit</a>
            </div>
            <hr>
        <% }) %>
    </div>
</body>
</html>
 